{
  "googlecloudstorage":{
      "projectId": "{{ jfm_gcs_project_id }}",
      "bucketName": "{{ jfm_gcs_bucket_name }}",
      "googleAccessId": "{{ jfm_gcs_google_acces_id }}",
      "serviceAccountPem": "{{ jfm_gcs_service_account_pem }}"
  },
  "version": "{{ jfm_version }}"
}
